/* General styles for all menus */
.cbp-spmenu {
	background: #fafafa;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #fff;
	box-shadow: inset -5px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-webkit-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-moz-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-o-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
}


.cbp-spmenu a {
	display: block;
	color: #7C7C7C;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #fff;
	text-decoration:none;
	/*box-shadow: inset -5px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-webkit-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-moz-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-o-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;*/
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical_left_01 a {
	border-bottom: 1px solid #E1E1E1;
	padding: 8px 0 8px 15px;
	
}

.cbp-spmenu-horizontal {
	width: 100%;
	/*height: 150px;*/
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	/*border-left: 1px solid #258ecd;*/
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -400px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-webkit-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-moz-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
-o-box-shadow: inset -10px 1px 10px 0px #E0DDDD,-2px 1px 5px 1px #DDDDDD;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
	top:50px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 50px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.to_top_menu>.cbp-spmenu {
    background: #ACAFB7 url("../images/body.png") repeat scroll 0% 0%;
    position: fixed;
	padding: 0 40px;
}
.to_top_menu>.cbp-spmenu>a{
	display: block;
	color: #7C7C7C;
	font-size: 1.1em;
	font-weight: 300;
	background-color:#fff;
	padding: 2px;
margin: 5px;
	}
.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#cbp-spmenu-s1{ margin-top:50px;z-index: 99999;}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -350px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
@media screen and (max-width: 471px)
{
.close_btn
{
    margin-top:36px;
    }
}
.close_btn
{
background: #E31417 none repeat scroll 0% 0%;
position: absolute;
right: -25px;
font-size: 20px;
padding: 0px 4px 2px;
cursor: pointer;
}
.rightMenu>.cbp-spmenu-vertical{ width:350px; overflow:scroll;}
.search_area_001{ box-shadow: 0px 1px 0px #F8EAEA;padding-bottom: 15px;}
.right_menu_bottom_gap{ width:100%; height:50px;}
